<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Location Summary for {{ location }}</h1>
    </header>

    <div class="container location-summary-container">
        <h3>Total Orders Placed: {{ total_orders }}</h3>
        <h3>Total Revenue: ${{ total_revenue }}</h3>

        {% if location_orders %}
            <div class="order-details">
                <h3>Order Details</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Order Date</th>
                            <th>Shipping Status</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in location_orders %}
                            <tr>
                                <td>{{ order.Order }}</td>
                                <td>{{ order.Product_name }}</td>
                                <td>${{ order.Price }}</td>
                                <td>{{ order.Order_date }}</td>
                                <td>{{ order.Shipping_Status }}</td>
                                <td>{{ order.Payment_Status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No orders found for the specified location.</p>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>